.button {
  background-color: $color-bg-default;
  border: 1px solid $color-main;
  border-radius: 90px;
  box-sizing: border-box;
  color: $color-main;
  cursor: pointer;
  font-size: 16px;
  line-height: normal;
  min-width: 227px;
  padding: 13px;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    background-color: $color-main;
    color: $color-bg-default;
    transition: all 0.3s ease-in;
  }
}
