.button {
  background-color: $color-bg-default;
  border: 1px solid $color-main;
  border-radius: 90px;
  box-sizing: border-box;
  color: $color-main;
  cursor: pointer;
  font-size: 16px;
  line-height: normal;
  min-width: 227px;
  outline: none;
  padding: 13px;
  transition: all 0.2s ease-in;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $color-main-translucent;
  }

  &:disabled {
    background-color: $color-input-disabled;
    border-color: $color-input-disabled;
    color: $color-bg-default;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  &--error {
    background-color: $color-error;
    border-color: $color-error;
    color: $color-bg-default;
    transition: all 0.2s ease-in;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  &--shake {
    animation: shake 0.5s;
  }

  &--preload {
    background-color: $color-input-disabled;
    background-image: url("img/preload.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-color: $color-input-disabled;
    color: transparent;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  &--correct {
    background-color: $color-main;
    color: $color-bg-default;
    transition: all 0.2s ease-in;
  }
}
