.input-group {
  display: flex;
  position: relative;
  width: 100%;
}

.input-group__label {

  color: $color-text-disabled;
  display: block;
  font-size: 14px;
  left: 14px;
  line-height: normal;
  position: absolute;
  top: 14px;
  transition: all 0.2s ease-in;

  &--on {
    background-color: $color-bg-default;
    font-size: 10px;
    left: 12px;
    padding: 0 3px;
    top: -5px;
    transition: all 0.2s ease-in;
  }

  &--correct {
    color: $color-main;
  }

  &--error {
    color: $color-error;
  }
}

.input-group__decor {
  background-color: $color-accent;
  bottom: 0;
  height: 1px;
  left: -2px;
  position: absolute;
  width: calc(100% + 4px);
}

.input-group__input {
  background-color: $color-bg-default;
  border: 1px solid $color-accent;
  border-radius: 5px 5px 0 0;
  color: $color-text-default;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: normal;
  outline: none;
  padding: 13px;
  width: 100%;

  &--correct {
    border-color: $color-main;
  }

  &--correct + .input-group__decor {
    background-color: $color-main;
  }

  &--correct ~ .visibility-icon {
    color: $color-main;
  }

  &--error {
    border-color: $color-error;
  }

  &--error + .input-group__decor {
    background-color: $color-error;
  }

  &--error + .modal__submit {
    background-color: $color-error;
    color: $color-bg-default;
  }

  &--error ~ .visibility-icon {
    color: $color-error;
  }

  &:disabled {
    border-color: $color-input-disabled;
    color: $color-text-disabled;
  }
}

.input-group__visibility-icon {
  bottom: 9px;
  position: absolute;
  right: 11px;
}
