.link {
  border: 2px solid transparent;
  color: #237BEF;
  display: block;
  font-size: 12px;
  line-height: normal;
  padding: 5px;
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: $color-main-translucent;
    border-radius: 2px;
  }
}
