.modal {
  background-color: rgba(0, 0, 0, 0.85);
  display: block;
  height: 100vh;
  width: 100%;
}

.modal__form {
  background: #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 50%;
  max-width: 406px;
  padding-left: 38px;
  padding-right: 38px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.modal__heading {
  color: #191A39;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  margin: 31px 0 29px;
  text-align: center;
}

.modal__input-group {
  display: flex;
  margin: 0 0 29px;
  position: relative;
  width: 100%;
}

.modal__label {
  background-color: $color-bg-default;
  display: block;
  font-size: 10px;
  left: 12px;
  line-height: normal;
  padding: 0 3px;
  position: absolute;
  top: -5px;

  &--active {
    color: $color-main;
  }

  &--error {
    color: $color-error;
  }

  &--disabled {
    color: $color-text-disabled;
  }
}

.modal__input {
  background-color: $color-bg-default;
  border: 1px solid $color-accent;
  border-radius: 5px 5px 0 0;
  color: $color-text-default;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: normal;
  outline: none;
  padding: 13px;
  width: 100%;

  &::placeholder {
    color: $color-accent;
  }

  &:focus,
  &:active {
    border-color: $color-main;
  }

  &:invalid {
    border-color: $color-error;
  }

  &:disabled {
    border-color: $color-input-disabled;
    color: $color-text-disabled;
  }
}

.modal__input:invalid ~ .visibility-icon {
  color: $color-error;
}

.modal__decor {
  background-color: $color-accent;
  bottom: 0;
  height: 1px;
  left: -2px;
  position: absolute;
  width: calc(100% + 4px);
}

.modal__visibility-toggle {
  bottom: 9px;
  position: absolute;
  right: 11px;
}

.modal__input:focus + .modal__decor,
.modal__input:active + .modal__decor {
  background-color: $color-main;
}

.modal__input:invalid + .modal__decor {
  background-color: $color-error;
}

.modal__submit {
  margin: 0 0 19px;
}

.modal__input:invalid + .modal__submit {
  background-color: $color-error;
  color: $color-bg-default;
}

.modal__close {
  background-color: transparent;
  background-image: url("img/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: -36px;
  top: 7px;
  width: 15px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.modal__links {
  display: flex;
  justify-content: space-between;
  margin: 0 0 29px;
  width: 100%;

  & .link:first-of-type {
    margin-left: -5px;
  }

  & .link:last-of-type {
    margin-right: -5px;
  }
}
