.visibility-icon {
  color: $color-icon;
  cursor: pointer;
  fill: currentColor;
  height: 19px;
  width: 23px;

  &--disabled {
    color: $color-main;
  }
}

.visibility-icon__strike {
  stroke: currentColor;
}

.visibility-icon--visible .visibility-icon__strike {
  stroke: transparent;
}
