include ./pug/visibility-icon
include ./pug/close-icon

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Login
    link(rel="stylesheet" type="text/css" href="style.css")
  body.page
    section.modal
      form.modal__form
        +close-icon('modal__close')
        h2.modal__heading Log in
        p.modal__input-group.input-group
          label.input-group__label(for='email') Email
          input#email.input-group__input(type='email' placeholder='Email' name='email')
          span.input-group__decor
        p.modal__input-group.input-group
          label.input-group__label(for='password') Password
          input#password.input-group__input(type='password' placeholder='Password' name='password' minlength='8')
          span.input-group__decor
          +visibility-icon('input-group__visibility-icon')
        button.modal__submit.button Authorise me
        div.modal__links
          a.link(href='registration.html') Go to registration form
          a.link(href='reset.html') Forgot password?
  script(type="text/javascript" src="index.js" async)
