$font-stack-default: "Roboto", sans-serif;
$color-main: #237BEF;
$color-main-translucent: rgba(35, 123, 239, 0.5);
$color-error: #EB5757;
$color-bg-default: #FFFFFF;
$color-text-default: #191A39;
$color-text-disabled: #CCCCCC;
$color-accent: #A0A0A0;
$color-icon: #BFBFBF;
$color-input-disabled: #91BDF7;
$color-icon-disabled: #BFBFBF;
